// :root {
//     --primary-font-family: 'Roboto', sans-serif;
//     --secondary-font-family: 'Raleway', sans-serif;
//     --primary-text-color-theme-light: #212121;
//     --secondary-text-color-theme-light: #757575;
//     --accent-color: #2196F3;
// }

// font-family: 'DM Sans',
// sans-serif;
// font-family: 'Titan One',
// cursive;

:root {
    --primary-font-family: 'DM Sans', sans-serif;
    --secondary-font-family: 'Titan One', cursive;
    --primary-text-color-theme-light: #000000;
    --secondary-text-color-theme-light: #907E82;
    --accent-color-dark: #D41443;
    --accent-color-light: #FFA5BA;;
}