<section id="made" class="about section">
    <div class="container">
        <p class="about__suptitle suptitle">TRADITION AND LOVE</p>
        <h2 class="about__title title">HOW IT'S MADE?</h2>
        <div class="about__container">
            <picture class="about__pic">
                <source srcset="./images/desktop/about_desk/about_img_desk.png 1x, ./images/desktop/about_desk/about_img_desk@2x.png 2x"
                    media="(min-width:1280px)" />
                <source
                    srcset="./images/tablet/about_tab/about_img_tab.png 1x, ./images/tablet/about_tab/about_img_tab@2x.png 2x"
                    media="(min-width:768px)" />
                <source
                    srcset="./images/mobile/about_mob/about_img_mob.png 1x, ./images/mobile/about_mob/about_img_mob@2x.png 2x"
                    media="(min-width:320px)" />
                <img class="about_img" src="./images/desktop/about_desk/about_img_desk.png" alt="корова и кувшин молока" maxwidth="501" maxheight="501">
            </picture>
            <div class="about__text-container">

                <p class="about__text-dark">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. 
                    Nam vel justo cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>

                <p class="about__text-light">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                    Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt
                </p>

                <p class="about__text-light">Aliquam erat volutpat. Aenean accumsan.</p>
                <!-- <div class="button-container"> -->
                    <button class="button about__button" type="button">Read more&ensp;>
                        <!-- <svg class="about__btn-icn">
                            <use href="./images/icons.svg#icon-vector" width="4px" height="8px"></use>
                        </svg> -->
                    </button>
                <!-- </div> -->
            </div>
        </div>
    </div>
</section>
