<!--Advantages-->

<section class="advantages-section"> 
    <h2 class="visually-hidden">Advantages</h2>
    <div class="advantages"> 
    <ul class="advantages-list">
    <li class="advantages-item"> 
    <span class="advantages-numbers item1">721</span><p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. 
        Mauris massa.</p></li>
    <li class="advantages-item"> 
    <span class="advantages-numbers item2">16kg</span><p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. 
        Mauris massa.</p></li>
    <li class="advantages-item"> 
    <span class="advantages-numbers item3">84</span><p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. 
        Mauris massa.</p></li>
    </ul>
    </div>
    </section>