<!--Advantages-->

<section id="about" class="advantages__section container">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="advantages__wrap">
        <ul class="advantages__list list">
            <li class="advantages__item item1">
                <span class="advantages__numbers">721</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur.
                    Mauris massa.</p>
            </li>
            <li class="advantages__item item2">
                <span class="advantages__numbers">16kg</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur.
                    Mauris massa.</p>
            </li>
            <li class="advantages__item item3">
                <span class="advantages__numbers">84</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur.
                    Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>