<!-- Contacts -->
<section class="contacts">
  <div class="contacts__background"></div>
  <div class="container">
    <h1 class="visually-hidden">Contacts</h1>
    <ul id="contact" class="contacts__list list">
      <li class="contacts__list-item">
        <p class="contacts__type">CAFE</p>
        <div class="contacts__list-wrap">
          <h4 class="contacts__list-header">Chicago</h4>
          <p class="contacts__list-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__list-wrap">
          <ul class="list">
            <li class="contacts__days-wrap">
              <p class="contacts__working-days">Monday - Friday</p>
              <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__days-wrap">
              <p class="contacts__working-days">Saturday - Sunday</p>
              <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__list-wrap">
          <ul class="contacts__contacts-list list">
            <li>
              <a class="contacts__list-description contacts__list-link link" href="tel:+610383766284">+61(0) 383 766
                284</a>
            </li>
            <li>
              <a class="contacts__list-description contacts__list-link link"
                href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__list-item">
        <p class="contacts__type">FOODTRUCK</p>
        <div class="contacts__list-wrap">
          <h4 class="contacts__list-header">Los Angeles</h4>
          <p class="contacts__list-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__list-wrap">
          <ul class="list">
            <li class="contacts__days-wrap">
              <p class="contacts__working-days">Monday - Friday</p>
              <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__days-wrap">
              <p class="contacts__working-days">Saturday - Sunday</p>
              <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__list-wrap">
          <ul class="contacts__contacts-list list">
            <li>
              <a class="contacts__list-description contacts__list-link link" href="tel:+610383766284">+61(0) 383 766
                284</a>
            </li>
            <li>
              <a class="contacts__list-description contacts__list-link link"
                href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__list-item">
        <p class="contacts__type">CAFE</p>
        <div class="contacts__list-wrap">
          <h4 class="contacts__list-header">New York</h4>
          <p class="contacts__list-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__list-wrap">
          <ul class="list">
            <li class="contacts__days-wrap">
              <p class="contacts__working-days">Monday - Friday</p>
              <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__days-wrap">
              <p class="contacts__working-days">Saturday - Sunday</p>
              <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__list-wrap">
          <ul class="contacts__contacts-list list">
            <li>
              <a class="contacts__list-description contacts__list-link link" href="tel:+610383766284">+61(0) 383 766
                284</a>
            </li>
            <li>
              <a class="contacts__list-description contacts__list-link link"
                href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="contacts__btn list">
      <li class="contacts__btn-wrap">
        <a class="contacts__btn-text link" href="">Our Locations<svg class="contact-arrow-dark" width="5" height="8">
            <use href="./images/icons.svg#arrowlight"></use>
          </svg></a>
      </li>
      <li class="contacts__btn-wrap">
        <a class="contacts__btn-text2 link" href="">Franchise<svg class="contact-arrow-light" width="5" height="8">
            <use href="./images/icons.svg#arrow"></use>
          </svg></a>
      </li>
    </ul>
  </div>
</section>