<section class="section gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__conainer">
      <div class="gallery__column column-first">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/desk-gallery/desktop-gal1@1x.jpg 1x,
                  ./images/desk-gallery/desktop-gal1@2x.jpg 2x
                "
              />

              <source
                srcset="
                  ./images/tab-gallery/tablet-gal1@1x.jpg 1x,
                  ./images/tab-gallery/tablet-gal1@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/mob-gallery/mobile-gal1@1x.jpg 1x,
                  ./images/mob-gallery/mobile-gal1@1x.jpg 2x
                "
                media="(max-width: 767px)"
                src="./images/mob-gallery/mobile-gal1@1x.jpg"
                alt="Ice cream picture in bowl"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column column-second">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/desk-gallery/desktop-gal2@1x.jpg 1x,
                  ./images/desk-gallery/desktop-gal2@2x.jpg 2x
                "
              />

              <source
                srcset="
                  ./images/tab-gallery/tablet-gal2@1x.jpg 1x,
                  ./images/tab-gallery/tablet-gal2@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/mob-gallery/mobile-gal2@1x.jpg 1x,
                  ./images/mob-gallery/mobile-gal2@2x.jpg 2x
                "
                media="(max-width: 767px)"
                src="./images/mob-gallery/mobile-gal2@1x.jpg"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/desk-gallery/desktop-gal3@1x.jpg 1x,
                  ./images/desk-gallery/desktop-gal3@2x.jpg 2x
                "
              />

              <source
                srcset="
                  ./images/tab-gallery/tablet-gal3@1x.jpg 1x,
                  ./images/tab-gallery/tablet-gal3@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/mob-gallery/mobile-gal3@1x.jpg 1x,
                  ./images/mob-gallery/mobile-gal3@2x.jpg 2x
                "
                media="(max-width: 767px)"
                src="./images/mob-gallery/mobile-gal3@1x.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column big-img">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/desk-gallery/desktop-gal4@1x.jpg 1x,
                  ./images/desk-gallery/desktop-gal4@2x.jpg 2x
                "
              />

              <source
                srcset="
                  ./images/tab-gallery/tablet-gal4@1x.jpg 1x,
                  ./images/tab-gallery/tablet-gal4@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/mob-gallery/mobile-gal4@1x.jpg 1x,
                  ./images/mob-gallery/mobile-gal4@2x.jpg 2x
                "
                media="(max-width: 767px)"
                src="./images/mob-gallery/mobile-gal4@1x.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row small-img">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/desk-gallery/desktop-gal5@1x.jpg 1x,
                  ./images/desk-gallery/desktop-gal5@2x.jpg 2x
                "
              />

              <source
                srcset="
                  ./images/tab-gallery/tablet-gal5@1x.jpg 1x,
                  ./images/tab-gallery/tablet-gal5@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/mob-gallery/mobile-gal5@1x.jpg 1x,
                  ./images/mob-gallery/mobile-gal5@2x.jpg 2x
                "
                media="(max-width: 767px)"
                src="./images/mob-gallery/mobile-gal5@1x.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column column-third">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/desk-gallery/desktop-gal6@1x.jpg 1x,
                  ./images/desk-gallery/desktop-gal6@2x.jpg 2x
                "
              />

              <source
                srcset="
                  ./images/tab-gallery/tablet-gal6@1x.jpg 1x,
                  ./images/tab-gallery/tablet-gal6@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/mob-gallery/mobile-gal6@1x.jpg 1x,
                  ./images/mob-gallery/mobile-gal6@2x.jpg 2x
                "
                media="(max-width: 767px)"
                src="./images/mob-gallery/mobile-gal6@1x.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/desk-gallery/desktop-gal7@1x.jpg 1x,
                  ./images/desk-gallery/desktop-gal7@2x.jpg 2x
                "
              />

              <source
                srcset="
                  ./images/tab-gallery/tablet-gal7@1x.jpg 1x,
                  ./images/tab-gallery/tablet-gal7@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/mob-gallery/mobile-gal7@1x.jpg 1x,
                  ./images/mob-gallery/mobile-gal7@2x.jpg 2x
                "
                media="(max-width: 767px)"
                src="./images/mob-gallery/mobile-gal7@1x.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column column-fourth">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/desk-gallery/desktop-gal8@1x.jpg 1x,
                  ./images/desk-gallery/desktop-gal8@2x.jpg 2x
                "
              />

              <source
                srcset="
                  ./images/tab-gallery/tablet-gal8@1x.jpg 1x,
                  ./images/tab-gallery/tablet-gal8@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/mob-gallery/mobile-gal8@1x.jpg 1x,
                  ./images/mob-gallery/mobile-gal8@2x.jpg 2x
                "
                media="(max-width: 767px)"
                src="./images/mob-gallery/mobile-gal8@2x.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/desk-gallery/desktop-gal9@1x.jpg 1x,
                  ./images/desk-gallery/desktop-gal9@2x.jpg 2x
                "
              />

              <source
                srcset="
                  ./images/tab-gallery/tablet-gal9@1x.jpg 1x,
                  ./images/tab-gallery/tablet-gal9@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/mob-gallery/mobile-gal9@1x.jpg 1x,
                  ./images/mob-gallery/mobile-gal9@2x.jpg 2x
                "
                media="(max-width: 767px)"
                src="./images/mob-gallery/mobile-gal9@1x.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column column-fifth">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/desk-gallery/desktop-gal10@1x.jpg 1x,
                  ./images/desk-gallery/desktop-gal10@2x.jpg 2x
                "
              />

              <source
                srcset="
                  ./images/tab-gallery/tablet-gal10@1x.jpg 1x,
                  ./images/tab-gallery/tablet-gal10@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/mob-gallery/mobile-gal10@1x.jpg 1x,
                  ./images/mob-gallery/mobile-gal10@2x.jpg 2x
                "
                media="(max-width: 767px)"
                src="./images/mob-gallery/mobile-gal10@1x.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
