<header class="header">
  <div class="header__container">
    <nav class="list navigation">
      <a class="link" href="./index.html">
        <svg width="199" height="50">
          <use href="./images/icons.svg#logo"></use></svg
      ></a>

      <ul class="nav__section-links list">
        <li class="nav__section-links-item">
          <a id="home" class="link nav__section-link" href="#home">Home</a>
        </li>
        <li class="nav__section-links-item">
          <a class="link nav__section-link" href="#about">About us</a>
        </li>
        <li class="nav__section-links-item">
          <a class="link nav__section-link" href="#made">How it’s made?</a>
        </li>
        <li class="nav__section-links-item">
          <a class="link nav__section-link" href="#products">Our products</a>
        </li>
        <li class="nav__section-links-item">
          <a class="link nav__section-link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <ul class="list header__buttons-list">
      <li class="link header__buttons-item">
        <button class="mobile-menu__burger-button" type="button" data-menu-open>
          <svg class="burger-icon" width="20" height="12">
            <use href="./images/icons.svg#burger"></use>
          </svg>
        </button>
      </li>
      <li class="link link header__buttons-item">
        <button class="header__order-button" type="button">
          Buy now<svg class="arrow-icon" width="5.26" height="8">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <div class="mobile-menu" data-menu>
    <button class="mobile-menu__close-button" type="button" data-menu-close>
      <svg class="cls-btn" width="14" height="14">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <button class="mob__order-button" type="button">
      Buy now<svg class="arrow-icon" width="5.26" height="8">
        <use href="./images/icons.svg#arrow"></use>
      </svg>
    </button>
    <ul class="mob__section-links list">
      <li class="mob__section-links-item">
        <a class="link mob__section-link" href="#home">Home</a>
      </li>
      <li class="mob__section-links-item">
        <a class="link mob__section-link" href="#about">About us</a>
      </li>
      <li class="mob__section-links-item">
        <a class="link mob__section-link" href="#made">How it’s made?</a>
      </li>
      <li class="mob__section-links-item">
        <a class="link mob__section-link" href="#products">Our products</a>
      </li>
      <li class="mob__section-links-item">
        <a class="link mob__section-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
  <a class="arrowup-button link" href="#home">
    <svg class="arrowup-icon" width="20px" height="24">
      <use href="./images/icons.svg#arrowup"></use>
    </svg>
  </a>
</header>
