<article class="products">
  <!-- <section class="products"> -->
  <p class="products__text">100% natural</p>
  <h2 class="products__head">products</h2>

  <ul class="products-list list">
    <div class="products-list_wrapper--rose">
      <li class="products-list__item">
        <h3 class="products-list__title--rose">ice cream</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <button class="products-list__btn" type="button"></button>
      <a href=""></a>
    </div>

    <div class="products-list_wrapper--brown">
      <li class="products-list__item">
        <h3 class="products-list__title--brown">ice coffee</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <button class="products-list__btn" type="button"></button>
      <a href=""></a>
    </div>

    <div class="products-list_wrapper--green">
      <li class="products-list__item">
        <h3 class="products-list__title--green">milkshakes</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <button class="products-list__btn" type="button"></button>
      <a href=""></a>
    </div>
  </ul>
  <!-- </section> -->
</article>
