@media screen and (max-width: 1280px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #e17992;
    width: 250px;
    height: 100vh;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .mobile-menu__close-button {
    cursor: pointer;
    position: absolute;
    z-index: 105;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    line-height: 0;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color-dark);
    }
  }

  .cls-btn {
    stroke: currentColor;
  }

  .mob__order-button {
    position: absolute;
    top: 60px;
    left: 20px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    color: var(--accent-color-dark);
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    min-width: 209px;
    min-height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }

  .mob__section-links {
    position: absolute;
    top: 123px;
    left: 0px;
    width: 100%;
  }

  .mob__section-links-item {
    border-top: 1px solid #e18298;

    &:last-child {
      border-bottom: 1px solid #e18298;
    }
  }

  .mob__section-link {
    display: block;
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    color: #ffffff;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;

    &:hover,
    &:focus {
      color: var(--accent-color-dark);
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__close-button {
    right: 32px;
  }

  .mobile-menu {
    width: 35%;
  }
  .mob__section-link {
    padding-left: 40px;
  }

  .mob__order-button {
    margin-left: 40px;
    min-width: 186px;
  }
}

@media screen and (min-width: 800px) {
  .mobile-menu {
    width: 40%;
  }
  .mob__section-link {
    padding-left: 60px;
  }

  .mob__order-button {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
