// .customer-reviews__wrapper {
//     padding: 0 20px;
// }

// .customer-reviews__wrapper {
//     text-align: center;
// }

// .reviews-text__wrapper {
//     padding-top: 43px;
//     position: relative;
//     background-color: #FAFAFA;
//     margin-bottom: 30px;
// }

// .text-underline {
//     margin-right: auto;
//     margin-left: auto;
//     max-width: 180px;
//     background-image: repeating-linear-gradient(to bottom,
//         #FAFAFA,
//         #FAFAFA 30px,
//         #E1E1E1 30px,
//         #E1E1E1 31px);
// }

// .testimonials {
//     margin-right: auto;
//     margin-left: auto;
//     margin-bottom: 32px;
// }

// .testimonials::before {
//     content: '';
//     background-image: url('../images/icons.svg#icon-quotation-mark');
//     background-repeat: no-repeat;
// }

// .reviews-text {
//     padding-bottom: 26px;
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 157px;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 255%;
//     color: var(--primary-text-color-theme-light);
// }

// .reviews-text::after {
//     content: "";
//     position: absolute;
//     width: 4px;
//     height: 4px;
//     border-radius: 50%;
//     background: #C7133E;
//     bottom: 8px;
//     left: 50%;
//     margin-bottom: -2.5em;
//     transform: translateX(-50%);
//     filter: drop-shadow(2.5em 0px 0px #C7133E) drop-shadow(-2.5em 0px 0px #C7133E);
// }

// .reviewer-info {
//     position: relative;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 186%;
//     color: var(--primary-text-color-theme-light);
// }

.customer-reviews__wrapper {
    text-align: center;
}

.reviews-text__wrapper {
    padding-top: 43px;
    position: relative;
    background-color: #FAFAFA;
    margin-bottom: 36px;
}

.text-underline {
    margin-right: auto;
    margin-left: auto;
    max-width: 180px;
    background-image: repeating-linear-gradient(to bottom,
        #FAFAFA,
        #FAFAFA 30px,
        #E1E1E1 30px,
        #E1E1E1 31px);
}

.testimonials {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
}

.reviews-text {
    padding-bottom: 26px;
    margin-left: auto;
    margin-right: auto;
    max-width: 157px;
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;
    color: var(--primary-text-color-theme-light);
}

.reviews-text::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #C7133E;
    bottom: 8px;
    left: 50%;
    margin-bottom: -2.5em;
    transform: translateX(-50%);
    filter: drop-shadow(.75em 0px 0px #C7133E) drop-shadow(-.75em 0px 0px #C7133E);
}

.reviewer-info {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    color: var(--primary-text-color-theme-light);
}

@media screen and (max-width: 767px) {
    .customer-reviews__wrapper {
    padding: 0 20px;
    }

    .reviews-text__wrapper {
        padding-top: 43px;
        margin-bottom: 36px;
    }

    .text-underline {
        max-width: 180px;
    }

    .testimonials {
        margin-bottom: 32px;
    }

    .reviews-text::before {
        content: '';
        background-image: url('../images/icons.svg#icon-quotation-mark');
        background-repeat: no-repeat;
        background-position: center;
        background-color: #E1E1E1;
    }

    .reviews-text {
        padding-bottom: 26px;
        max-width: 157px;
        font-size: 12px;
        line-height: 255%;
    }

    .reviews-text::after {
        content: "";
        bottom: 8px;
        margin-bottom: -2.5em;
    }

    .reviewer-info {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .customer-reviews__wrapper {
        padding: 0 74px;
    }

    .reviews-text__wrapper {
        padding-top: 37px;
        margin-bottom: 24px;
    }

    .text-underline {
        max-width: 608px;
    }

    .testimonials {
        margin-bottom: 20px;
    }

    // .reviews-text::before {
    //     content: '';
    //     background-image: url('../images/icons.svg#icon-quotation-mark');
    //     background-repeat: no-repeat;
    // }

    .reviews-text {
        padding-bottom: 26px;
        max-width: 514px;
        font-size: 14px;
        line-height: 216%;
        letter-spacing: 0.04em;
    }

    .reviews-text::after {
        content: "";
        bottom: 0;
        margin-bottom: -.5em;
    }

    .reviewer-info {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .customer-reviews__wrapper {
        padding: 0 116px;
    }

    .reviews-text__wrapper {
        padding-top: 32px;
        margin-bottom: 36px;
    }

    .text-underline {
        max-width: 822px;
    }

    .testimonials {
        margin-bottom: 16px;
    }

    // .reviews-text::before {
    //     content: '';
    //     background-image: url('../images/icons.svg#icon-quotation-mark');
    //     background-repeat: no-repeat;
    // }

    .reviews-text {
        padding-bottom: 31px;
        max-width: 750px;
        font-size: 16px;
        line-height: 186%;
        letter-spacing: 0.04em;
    }

    .reviews-text::after {
        content: "";
        bottom: 0;
        margin-bottom: -1.5em;
    }

    .reviewer-info {
        font-size: 20px;
    }
}