.

.customer-reviews__wrapper {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #FAFAFA;
}

.reviews-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;
    color: var(--primary-text-color-theme-light);
}