.header {
  background-color: #ffb8ca;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.header__buttons-list {
  display: flex;
  align-items: center;
}

.header__buttons-item:first-child {
  margin-right: 32px;
}

.mobile-menu__burger-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 4px;
  line-height: 0;
  color: var(--accent-color-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
  }
}

.burger-icon {
  stroke: currentColor;
}

.header__order-button {
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: var(--accent-color-dark);
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  min-height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.arrow-icon {
  margin-left: 12px;
}

.nav__section-links {
  display: none;
}

.nav__section-links-item:not(:last-child) {
  margin-right: 35px;
}

.nav__section-link {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color-dark);
  }
}

@media screen and (min-width: 480px) {
  .header__container {
    max-width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .header__order-button {
    display: none;
  }
  .header__buttons-item:first-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 40px;
  }

  .mobile-menu__burger-button {
    display: none;
  }

  .nav__section-links {
    display: flex;
    align-items: center;
    margin-left: 128px;
  }
}

.arrowup-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ffffff;
  color: var(--accent-color-dark);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px dotted var(--accent-color-dark);
}

.arrowup-icon {
  fill: currentColor;
}
