.hero {
  background-color: #ffb8ca;
  padding-top: 0;
  padding-bottom: 0;
}

.hero__container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 128px;
  margin-left: auto;
  margin-right: auto;
  min-height: 436px;
  overflow: hidden;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    overflow: visible;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    min-height: 326px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 2px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1200px;
    min-height: 566px;
    padding-top: 49px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero__title {
  position: relative;
  font-family: var(--secondary-font-family);
  font-size: 25px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 218px;
  min-height: 106px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
    max-width: 162px;
    min-height: 80px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.16;
    max-width: 277px;
    min-height: 137px;
  }
}

.hero__title-span {
  font-family: var(--secondary-font-family);
  font-size: 44px;
  line-height: 0.96;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  max-width: 218px;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.9;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.9;
  }
}

.section-links__p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
  background-color: #d41443;
  padding: 7px 14px;
  min-width: 62px;
  min-height: 24px;
  border-radius: 20px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: var(--accent-color-dark);
  }

  @media screen and (min-width: 1280px) {
    min-width: 107px;
    min-height: 40px;
    font-size: 14px;
    line-height: 1.2;
  }
}

.section-links__h {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-size: 8px;
  line-height: 1.25;
  color: #d41443;
  background-color: #ffffff;
  padding: 7px 14px;
  min-width: 62px;
  min-height: 24px;
  border-radius: 20px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 1280px) {
    min-width: 138px;
    min-height: 40px;
    font-size: 14px;
    line-height: 1.2;
  }
}

.section-links {
  display: flex;
  margin-top: 20px;
  @media screen and (min-width: 1280px) {
    margin-top: 24px;
  }
}

.section-links__item:first-child {
  margin-right: 8px;
}

.hero__circle {
  position: absolute;
  top: 3.9%;
  left: 11.25%;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
  position: absolute;
  z-index: 0;
  @media screen and (min-width: 380px) {
    left: 19%;
  }
  @media screen and (min-width: 768px) {
    width: 335px;
    height: 333px;
    top: -47px;
    left: 248px;
  }
  @media screen and (min-width: 1280px) {
    width: 534px;
    height: 534px;
    top: -44px;
    left: 517px;
  }
}

.hero__ice-img {
  width: 171px;
  height: 410px;
  position: absolute;
  top: 6%;
  left: 36.6%;

  z-index: 1;
  @media screen and (min-width: 768px) {
    width: 143px;
    height: 336px;
    top: -10px;
    left: 322px;
  }

  @media screen and (min-width: 1280px) {
    width: 236px;
    height: 557px;
    top: 9px;
    left: 636px;
  }
}

.hero__milk-image {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    width: 152px;
    height: 154px;
    top: 156px;
    left: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 213px;
    height: 216px;
    top: 290px;
    left: 16px;
  }
}

.hero__girl-image {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    width: 190px;
    height: 150px;
    top: 176px;
    right: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 304px;
    height: 241px;
    top: 325px;
    right: 16px;
  }
}

.hero__info-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 5px;
  }
}

.hero__info {
  color: #ffffff;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.3;
  }
}

.hero__info-span {
  font-family: var(--secondary-font-family);
  color: var(--accent-color-dark);
  display: block;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__info-item:first-child {
  margin-bottom: 16px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.hero__info-item {
  position: relative;
  z-index: 10;
  padding-right: 9px;
  @media screen and (min-width: 1280px) {
    padding-right: 17px;
  }
}

.hero__info-item::before {
  position: absolute;
  top: -2;
  right: 0;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
    top: -4;
  }
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__box {
  padding-top: 10px;
  margin-bottom: 61px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 108px;
  }
}

.hero__info-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: none;
  background-color: #ffffff;
  color: var(--accent-color-dark);
  border-radius: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.hero__text {
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
  max-width: 114px;
  margin-bottom: 7px;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.4;
    max-width: 200px;
    margin-bottom: 20px;
  }
}

.arrow-right-icon {
  fill: currentColor;
  @media screen and (min-width: 1280px) {
    width: 8px;
    width: 8px;
  }
}

.hero__box-a {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
    z-index: 10;
    padding-left: 184px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 229px;
  }
}
