.products__text {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  color: var(--accent-color-light);
}
.products__head {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color-dark);
}

.products-list__text {
  position: relative;
  margin-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: var(--primary-font-family);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.78;
  letter-spacing: 0.04em;
  color: #fff;
}

// rose

.products-list__wrapper--rose {
  background-color: #ffb8ca;
  border-radius: 24px;
  padding-bottom: 40px;
}
.products-list__title--rose {
  position: relative;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 148px;
  padding-top: 160px;
  margin-bottom: 32px;

  &::before {
    position: absolute;
    content: '';
    height: 280px;
    width: 100%;
    background-image: url(../images/products/mobile/home-pic1-mobile.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/mobile/home-pic1-mobile@2x.png);
    }

    background-repeat: no-repeat;
    background-position: 50% 50%;
    left: 0;
    bottom: 0;
    transform: translate(0px, -40px);
  }
  &:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    bottom: 0;
    left: 50%;
    margin-bottom: -32px;
    transform: translateX(-50%);
    filter: drop-shadow(0.5em 0px 0px #fff) drop-shadow(-0.5em 0px 0px #fff);
  }
}

// brown

.products-list__wrapper--brown {
  background-color: #f0d1a5;
  border-radius: 24px;

  padding-bottom: 40px;
}

.products-list__title--brown {
  position: relative;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 140px;
  margin-bottom: 32px;
  padding-top: 160px;

  &::before {
    position: absolute;
    content: '';
    height: 280px;
    width: 100%;
    background-image: url(../images/products/mobile/home-pic2-mobile.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    left: 0;
    bottom: 0;
    transform: translate(0px, -40px);
  }
  &:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    bottom: 0;
    left: 50%;
    margin-bottom: -32px;
    transform: translateX(-50%);
    filter: drop-shadow(0.5em 0px 0px #fff) drop-shadow(-0.5em 0px 0px #fff);
  }
}
// green

.products-list__wrapper--green {
  background-color: #c2e297;
  border-radius: 24px;
  padding-bottom: 40px;
}

.products-list__title--green {
  position: relative;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 140px;
  margin-bottom: 32px;
  padding-top: 160px;

  &::before {
    display: block;
    position: absolute;
    content: '';
    height: 280px;
    width: 100%;
    background-image: url(../images/products/mobile/home-pic3-mobile.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    left: 0;
    bottom: 0;
    transform: translate(0px, -40px);
  }
  &:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    bottom: 0;
    left: 50%;
    margin-bottom: -32px;
    transform: translateX(-50%);
    filter: drop-shadow(0.5em 0px 0px #fff) drop-shadow(-0.5em 0px 0px #fff);
  }
}
.products-list__btn {
  display: inline-block;
  background-image: url(../images/products/arrow-right.png);
  background-color: transparent;
  border: none;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .products-list__text {
    padding-left: 32px;
    padding-right: 32px;
  }
  .products__head {
    margin-bottom: 158px;
  }
  .products-list {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .products-list__wrapper--rose {
    margin-right: 16px;
  }

  .products-list__wrapper--brown {
    margin-right: 16px;
  }

  .products-list__title--rose {
    margin-top: -32px;
    &::before {
      width: 100%;
      background-image: url(../images/products/tablet/home-pic1-tablet.png);
    }
  }
  .products-list__title--brown {
    margin-top: -32px;
    &::before {
      width: 100%;
      background-image: url(../images/products/tablet/home-pic2-tablet.png);
    }
  }
  .products-list__title--green {
    margin-top: -32px;
    &::before {
      width: 100%;
      background-image: url(../images/products/tablet/home-pic3-tablet.png);
    }
  }
}
@media screen and (min-width: 1200px) {
  .products__head {
    margin-bottom: 281px;
  }

  .products-list__text {
    padding-left: 64px;
    padding-right: 63px;
  }

  .products-list__wrapper--rose {
    margin-right: 32px;
  }

  .products-list__wrapper--brown {
    margin-right: 32px;
  }

  .products-list__title--rose {
    margin-top: 0;
    &::before {
      height: 394px;
      width: 368px;
      background-image: url(../images/products/desktop/home-pic1.png);
    }
  }
  .products-list__title--brown {
    margin-top: 0;
    &::before {
      width: 368px;
      height: 394px;
      background-image: url(../images/products/desktop/home-pic2.png);
    }
  }
  .products-list__title--green {
    margin-top: 0;
    &::before {
      width: 368px;
      height: 394px;
      background-image: url(../images/products/desktop/home-pic3.png);
    }
  }
}
